$color-white: #ffffff;
$color-black: #000000;
$color-midnightBlue: #001838;
$color-red: #dc0000;
$color-grey: #69738c;
$color-light-grey: #b0b0b0;
$color-medium-grey: #8c8c8c;
$color-electric-blue: #3bd6ff;
