@font-face {
  font-family: 'KippaxModern Condensed';
  src: url('../assets/fonts/KippaxModern-CndxBdIt.eot');
  src: url('../assets/fonts/KippaxModern-CndxBdIt.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-CndxBdIt.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-CndxBdIt.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'KippaxModern Condensed';
  src: url('../assets/fonts/KippaxModern-CndxBd.eot');
  src: url('../assets/fonts/KippaxModern-CndxBd.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-CndxBd.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-CndxBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'KippaxModern Condensed';
  src: url('../assets/fonts/KippaxModern-CndMdIt.eot');
  src: url('../assets/fonts/KippaxModern-CndMdIt.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-CndMdIt.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-CndMdIt.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'KippaxModern Condensed';
  src: url('../assets/fonts/KippaxModern-CndMd.eot');
  src: url('../assets/fonts/KippaxModern-CndMd.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-CndMd.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-CndMd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KippaxModern';
  src: url('../assets/fonts/KippaxModern-Bd.eot');
  src: url('../assets/fonts/KippaxModern-Bd.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-Bd.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KippaxModern';
  src: url('../assets/fonts/KippaxModern-Md.eot');
  src: url('../assets/fonts/KippaxModern-Md.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-Md.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KippaxModern';
  src: url('../assets/fonts/KippaxModern-Rg.eot');
  src: url('../assets/fonts/KippaxModern-Rg.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/KippaxModern-Rg.woff2') format('woff2'),
    url('../assets/fonts/KippaxModern-Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
