@use '@styles/base' as *;

.inputWrap {
  position: relative;
  width: 100%;
  height: rem(60);
  background: $color-white;
  border-radius: rem(4);
  border: 0;
  border-bottom: rem(2) solid rgba($color: $color-midnightBlue, $alpha: 0.5);
  display: flex;
  align-items: center;
  box-sizing: border-box;

  &:has(input:focus) {
    border-bottom: rem(2) solid $color-midnightBlue;
  }

  & :global(.MuiOutlinedInput-notchedOutline) {
    border-color: transparent !important;
  }
  & :global(.MuiOutlinedInput-notchedOutline:hover) {
    border-color: transparent !important;
  }
  & :global(.MuiFormControl-root) {
    width: 100%;
  }

  & :global(.MuiFormLabel-root) {
    transform: translate(rem(14), rem(12)) scale(1);
    transition: 0.5s;
    width: 100%;
    height: rem(28);
    background: $color-white;
  }
  & :global(.MuiFormLabel-root.MuiInputLabel-shrink) {
    transform: translate(rem(13), rem(-1)) scale(0.714);
    transition: 0.5s;
    width: auto;
    height: auto;
    background: transparent;
    color: $color-midnightBlue !important;
  }

  label {
    position: absolute;
    @extend %label;
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 400;
    text-transform: uppercase;
  }

  &.fieldError :global(.MuiFormLabel-root) {
    color: $color-red !important;
  }

  input {
    position: relative;
    width: 100%;
    height: rem(35);
    @extend %labelBold;
    color: $color-midnightBlue;
    padding: 0 rem(14) rem(2);
    border: 0;
    top: rem(10);

    &:focus,
    &:active {
      outline: none;
      opacity: 1;
      z-index: 1;
    }
  }
  .error_msg {
    position: absolute;
    left: rem(-6);
    bottom: rem(-18);
    @extend %captionBold;
    color: $color-red;
    display: flex;
    padding-left: rem(20);
    padding-top: rem(5);
    &::before {
      content: '';
      left: 0;
      top: rem(6);
      width: rem(14);
      height: rem(14);
      background-image: url('../assets/img/exclamationmark.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-right: rem(7);
    }
  }
  .calendar {
    position: absolute;
    width: rem(20);
    height: rem(20);
    right: rem(15);
    bottom: rem(11);
    &::after {
      content: "''";
      position: absolute;
      left: 0;
      top: 0;
      width: rem(20);
      height: rem(20);
      background-image: url('../assets/img/calendar.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
