@use '@styles/base' as *;

.wrap {
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: $color-electric-blue;

  a {
    color: $color-black;
    text-decoration: underline;
  }
}
