@use '@styles/base' as *;

.cookiesContent {
  display: flex;
  flex-direction: column;
  row-gap: rem(12);
  background-image: url('../assets/img/shipblue.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center rem(20);
  padding: rem(80) rem(20) rem(42);
  box-sizing: border-box;
  .title {
    @extend %h1;
    text-transform: uppercase;
    color: $color-midnightBlue;
  }
  .topParagraph {
    @extend %paragraphLarge;
    color: $color-black;
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .bottomParagraph {
    @extend %paragraph;
    color: #a2a2a2;

    a {
      color: #a2a2a2;
      text-decoration: underline;
    }
  }
}
